<div class="">
  {{ember-tutorial-component config=config
  }}
</div>
<div>
 <h1>Deinde disputat, quod cuiusque generis animantium statui deceat extremum.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Immo videri fortasse. An potest, inquit ille, quicquam esse suavius quam nihil dolere? Duo Reges: constructio interrete. Comprehensum, quod cognitum non habet? <a id="test1" href='http://loripsum.net/' target='_blank'>Paria sunt igitur.</a> Est enim effectrix multarum et magnarum voluptatum. Itaque contra est, ac dicitis; Nam Pyrrho, Aristo, Erillus iam diu abiecti. </p>

    <p>Idem iste, inquam, de voluptate quid sentit? Id enim natura desiderat. <a href='http://loripsum.net/' target='_blank'>At enim hic etiam dolore.</a> Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. </p>

    <dl>
        <dt><dfn>Efficiens dici potest.</dfn></dt>
        <dd>At ille non pertimuit saneque fidenter: Istis quidem ipsis verbis, inquit;</dd>
        <dt><dfn>Equidem e Cn.</dfn></dt>
        <dd>Fortasse id optimum, sed ubi illud: Plus semper voluptatis?</dd>
        <dt><dfn>Primum divisit ineleganter;</dfn></dt>
        <dd>Satisne vobis videor pro meo iure in vestris auribus commentatus?</dd>
        <dt><dfn>Etiam beatissimum?</dfn></dt>
        <dd>Sequitur disserendi ratio cognitioque naturae;</dd>
    </dl>


    <pre>
    In omni enim arte vel studio vel quavis scientia vel in ipsa
    virtute optimum quidque rarissimum est.

    Ita ceterorum sententiis semotis relinquitur non mihi cum
    Torquato, sed virtuti cum voluptate certatio.
    </pre>


    <p><code>Quod cum dixissent, ille contra.</code> Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; <i>Illa tamen simplicia, vestra versuta.</i> Quam ob rem tandem, inquit, non satisfacit? Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. </p>

    <blockquote cite='http://loripsum.net'>
        Posuisti etiam dicere alios foedus quoddam inter se facere sapientis, ut, quem ad modum sint in se ipsos animati, eodem modo sint erga amicos;
    </blockquote>


    <p>Sed haec quidem liberius ab eo dicuntur et saepius. Profectus in exilium Tubulus statim nec respondere ausus; <a href='http://loripsum.net/' target='_blank'>Restinguet citius, si ardentem acceperit.</a> Ita nemo beato beatior. Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. <i>Summae mihi videtur inscitiae.</i> <i>Sed plane dicit quod intellegit.</i> Quorum sine causa fieri nihil putandum est. </p>

    <p><a href='http://loripsum.net/' target='_blank' id="test2">Sed ille, ut dixi, vitiose.</a> Ergo hoc quidem apparet, nos ad agendum esse natos. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Quamquam tu hanc copiosiorem etiam soles dicere. Ergo hoc quidem apparet, nos ad agendum esse natos. Sic enim maiores Ergo hoc quidem apparet, nos ad agendum esse natos. Sic enim maiores asd  asd  eess  asd no.<a href='http://loripsum.net/' target='_blank' id="test3">Confecta res esset.</a> Mihi enim erit isdem istis fortasse iam utendum. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Tum mihi Piso: Quid ergo? Tu enim ista lenius, hic Stoicorum more nos vexat. Ita enim vivunt quidam, ut eorum vita refellatur oratio. </p>

    <ol>
        <li>Quis est, qui non oderit libidinosam, protervam adolescentiam?</li>
        <li>Tum Piso: Atqui, Cicero, inquit, ista studia, si ad imitandos summos viros spectant, ingeniosorum sunt;</li>
        <li>Re mihi non aeque satisfacit, et quidem locis pluribus.</li>
        <li>Non igitur de improbo, sed de callido improbo quaerimus, qualis Q.</li>
    </ol>


    <ul>
        <li>Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta?</li>
        <li>An vero displicuit ea, quae tributa est animi virtutibus tanta praestantia?</li>
        <li>Te enim iudicem aequum puto, modo quae dicat ille bene noris.</li>
        <li>Sed mehercule pergrata mihi oratio tua.</li>
        <li>Tum ille timide vel potius verecunde: Facio, inquit.</li>
        <li>Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer.</li>
    </ul>
</div>